<div>
    <form action="login_user" method="post">
        <div>
            <div>
                <h5>Email Address</h5>
            </div>
            <div>
                <input type="text" name="email_address">
            </div>
        </div>
        <div>
            <div>
                <h5>Password</h5>
            </div>
            <div>
                <input type="password" name="password">
            </div>
        </div>
        <div>
            <input type="submit" value="Log In">
        </div>
    </form>
</div>